/build/
/dist/
/.idea/
/.vscode/
/nbproject/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
/src/utils/LogCompilation/target/
/.project/
/.settings/
hs_err_*.log
replay_pid*.log
**/.project
**/org.eclipse.core.resources.prefs
**/org.eclipse.jdt.apt.core.prefs
**/org.eclipse.jdt.core.prefs
**/org.eclipse.m2e.core.prefs
**/.factorypath
**/.classpath
